@tailwind base;
@tailwind components;
@tailwind utilities;





body {
    font-family: "IBM Plex Mono", monospace;
}
.menu {
    transform: scale(1.5);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
}

@layer components {
    .cnt {
        @apply max-w-[1000px] mx-auto my-0 xl:max-w-[1200px] 2xl:max-w-[1500px];
    }
}



